.heroBlock {
  width: 95%;
  margin: 10px auto 5px auto;
  flex-direction: column;
  gap: 10px;
  padding: 48px 20px;
  display: flex;
  justify-content: center;
  color: var(--color-primary);
  border-radius: 20px;
  background:
    linear-gradient(160deg, #7bcaff 0%, #ecf1ff 55%),
    radial-gradient(100% 100% at 100% 0, #6366f114, #0000 50%);
  border: 1px solid #ced4ff;
}

.heroLabel {
  color: var(--color-primary);
  margin-bottom: 10px;
  font-size: 1.4em;
  font-weight: 600;
  display: block;
}

.searchButton {
  border: 0px solid var(--input-border);
  width: 100%;
  height: 50px;
  color: var(--btn-text);
  /* background-color: var(--btn-bg); */
  background: linear-gradient(135deg, #ff7a00 0%, #f9a631 100%);
  margin-top: 14px;
  border-radius: 15px;
  outline: none;
  padding: 0;
  font-size: 1.4rem;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 4px 6px 0px rgba(34, 60, 80, 0.2);
  box-shadow: rgba(34, 60, 80, 0.2) 0px 4px 6px;
  position: relative;
}

.searchButton:active {
  background: var(--btn-hover);
  top: 1px;
}

.leftBlock {
  width: 100%;
}

.leftBlock h1 {
  margin-top: 25px;
  font-size: 1.4em;
  line-height: 1.2;
}

.heroDescription {
  max-width: 600px;
  font-size: 0.9em;
  font-weight: 300;
}
