.heroBlock {
  width: 95%;
  margin: 10px auto 5px auto;
  flex-direction: column;
  gap: 10px;
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  color: var(--color-primary);
  border-radius: 20px;
  background: var(--bg-accent);
  border: 1px solid #cbcbcb;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 4px 6px 0px rgba(34, 60, 80, 0.2);
  box-shadow: rgba(34, 60, 80, 0.2) 0px 4px 6px;
}

.heroLabel {
  color: var(--color-primary);
  margin-bottom: 10px;
  font-size: 1.4em;
  font-weight: 600;
  display: block;
}

.searchButton {
  color: var(--btn-text);
  background: var(--btn-bg);
  width: 100%;
  height: 45px;
  border: 0px;
  margin-top: 14px;
  border-radius: 10px;
  outline: none;
  padding: 0;
  font-size: 1.4rem;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  font-weight: 600;

  position: relative;
  transition: transform 100ms ease-in-out;
}

.searchButton:active {
  background: var(--btn-hover);
  transform: translateY(1px);
}

.leftBlock {
  width: 100%;
}

.leftBlock h1 {
  margin-top: 25px;
  font-size: 1.4em;
  line-height: 1.2;
}

.heroDescription {
  max-width: 600px;
  font-size: 0.9em;
  font-weight: 300;
}
