.flightSection {
  padding: 20px;
}

.flight {
  width: 100%;
  min-height: 80px;
  margin: 10px 0;
  background-color: var(--flights-bg);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.h2 {
  margin-bottom: 20px;
}

.flightsInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flightPrice {
  font-size: 3em;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.cities {
  font-size: 1.5em;
  font-weight: 500;
}
