.navigation {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 0 0 0 20px;
  border-bottom: 1px solid #383838;
}

.logoText {
  color: var(--color-secondary);
}

.logoText p {
  padding: 0;
  margin: 0;
}

.logo {
  font-size: 1.4em;
  font-weight: 600;
}

.description {
  font-size: 0.7em;
  font-weight: 400;
}

.link {
  text-decoration: none;
}
