.navigation {
  box-sizing: border-box;
  background-color: var(--nav-bg);
  width: 95%;
  height: 75px;
  margin: 10px auto;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 0 0 0 20px;
  border: 1px solid #cbcbcb;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 2px 2px 0px rgba(34, 60, 80, 0.2);
  box-shadow: rgba(34, 60, 80, 0.2) 0px 2px 2px;
}

.logoText {
  color: var(--color-secondary);
}

.logoText p {
  padding: 0;
  margin: 0;
}

.logo {
  font-size: 1.4em;
  font-weight: 600;
}

.description {
  font-size: 0.7em;
  font-weight: 400;
}

.link {
  text-decoration: none;
}
