.heroBlock {
  width: 100%;
  flex-direction: column;
  gap: 10px;
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  color: var(--color-primary);
  background: var(--bg-accent);
}

.maxWidth960 {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.title {
  display: block;
  max-width: 470px;
  margin: 0;
}

@media screen and (min-width: 960px) {
  .title {
    padding-left: 20px;
  }
}
