.heroInput {
  border: 0px solid var(--color-secondary);
  width: 100%;
  height: 45px;
  color: #2e4158;
  border-radius: 15px;
  outline: none;
  padding: 15px;
  font-size: 1.4rem;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  font-weight: 600;
}

.heroInput:focus {
  /* border-color: var(--color-primary); */
}
