.heroInput {
  border: 0px solid var(--input-border);
  background-color: rgb(243, 242, 240);
  color: var(--input-text);
  width: 100%;
  height: 45px;
  border-radius: 10px;
  outline: none;
  padding: 15px;
  font-size: 1.3rem;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  font-weight: 600;
}

.heroInput:focus {
  /* border-color: var(--color-primary); */
}
